* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f5f9;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topbar h2 {
    color: #2563eb;
}

.user-menu {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 140%;
    background: #0f172a;
    border-radius: 8px;
    width: 180px;
    display: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.dropdown a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.dropdown a:hover {
    background: rgba(255,255,255,0.1);
}

.logout {
    color: #ef4444;
}

/* LAYOUT */
.container {
    display: flex;
    min-height: 100%; /* full page height */
}

.sidebar {
    width: 240px;
    background: #020617;
    color: white;
    padding: 20px;
    min-height: 100%; /* full viewport height */
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 8px;
}

.sidebar a:hover {
    background: #2563eb;
    color: white;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

.property-form {
    margin-top: 20px;
    background: white;
    max-width: 500px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.property-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.property-form input,
.property-form textarea,
.property-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #cbd5f5;
}

.property-form textarea {
    resize: none;
    height: 80px;
}

.property-form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.property-form button:hover {
    background: #1d4ed8;
}

.message {
    margin-bottom: 15px;
    font-weight: bold;
}
.results {
    background: white;
    color: black;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 445px;
    z-index: 100;
    margin-right: 5px;
}

.results div {
    padding: 5px 10px;
    cursor: pointer;
}

.results div:hover {
    background: #f0f0f0;
}

